
body {
    background-color: rgba(76, 27, 92, 0.4);
    font-family: Arial, Helvetica, sans-serif;    
    color: white;    
}


.image {
    margin-left: 13px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

p {
    margin-right: 5%;
}

h1 {   
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

nav {
    background-image: url("fond_hn.png");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    float: left;
    height: 600px;
    width: 220px;
    border: 2px solid #8c014c;
    background-color: #8c014c;
    color: white;
    margin-right: 20px;
}

li, caption {
    margin-top: 10px;
    margin-bottom: 5px;    
}

a {
    color: chocolate;
}

section {
    margin-left: 170px;
}

.inscription{
    width:100%;
    max-width: 500px;
    display: grid;
    place-items: center;
    justify-content: center;
    text-align: center;  
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;    
    padding: 10px;
}

.section_insc{
    padding-top: 1rem;
    place-items: center;
}

form {   
    width: 100%; 
    min-width: 150px;       
    border-collapse: collapse;
    /* background-color: white;        */
    padding: 0 1rem;    
}

form input, form textarea{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    height: 50px;
    margin-bottom: 1rem;
    /* padding: 1rem; */
    background: none;
    color: white;
    font-size: 16px;
}

form select{
    width: 100%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

form input[type="checkbox"]{
    width:auto;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 10px;
}

p.comp{
    font-size: 20px;
    text-align: center;
}


caption {
    color: black;
}

td {
    border: 1px solid black;
    min-width: 100px;
    max-width: 210px;
    padding: 5px;
    color: black;
}

.erreur{
    color: red;
}
