<html>
        
    <head>
        <title>HN - TP LOCAL</title>
        <link rel="stylesheet" href="~/resources/Index.css" />
    </head>

    <body>

        <header>
            <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />    
            <h1>Hackathon HN Intercontrats</h1>
                        
        </header>

        <nav>
            <ul>
                <li><a href="/Home/Index/Presentation">Présentation</a></li>
                <li><a href="/Home/Index/Inscription">Inscription</a></li>
                <li><a href="/Home/Index/EditionsPrecedentes">Éditions précédentes</a></li>
            </ul>
        </nav>

        <section>

            <h1>Nous avons tous quelque chose à apporter ;)</h1>

            <h2>À propos du projet</h2>
            <p>Le Hackathon HN est un événement dédié aux intercontrats </p>

        </section>

    </body>

</html>

