  body {
      margin: 0;
      padding: 0;
      background-image: url('fond_hn.png');
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 100px 0 100px;
      height: 100vh;
  }

  .container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0 40px 0 40px;
      color: white;
      backdrop-filter: blur(2px);

  }