  body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('fond_hn.png');
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 100px 0 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .container {
      display: flex;
      flex-direction: column;
      height: 100vh;
  }

  .card-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
      gap: 20px;
      padding: 20px;
  }

  .card {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
      backdrop-filter: blur(2px);
  }

  .card:hover {
      transform: translateY(-5px);
  }

  .card h3 {
      margin: 0 0 10px;
      font-size: 18px;
      color: white;
  }

  .card p {
      margin: 0;
      color: white;
  }

  #contactButton {
      background-color: #580058;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
  }

  ul {
      color: white;
  }

  #crown {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-left: 5px;
  }

  #btn {
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      color: white;
      padding: 15px 30px;
      margin-top: 50px;
      border: none;
      background-color: rgb(88, 0, 88);
      border-radius: 10px;
      font-size: 16px;
  }

  #btn:hover {
      background-color: rgb(120, 0, 120);
  }

  .return {
      display: flex;
      justify-content: center;
      align-items: center;
  }